---
const year = new Date().getFullYear();
---

<footer>
  <div class="footer-row">
    <span>&copy; {year} <a href="https://skruban.com">Ruban</a></span>
    <div class="footer-links">
      <a href="https://github.com/sk-ruban/loro">GitHub</a>
    </div>
  </div>
</footer>
